<div class="post-item">
    <div class="post-header"> 
        {{#if logged_in}}
        <h1>
            <p>{{post_title}}</p>
        </h1>
            {{else}}
            <h1>
                <a href="/post/{{id}}">{{post_title}}</a>
            </h1>
        {{/if}}
        <p>{{user.username}} made this post on {{ format_date post_date }} </p>
    </div>
    <div class="post-body">
        {{ post_content }}
    </div>

    {{#if logged_in}}
        <p>Add a comment!</p>

    {{/if }}
</div>