<div class="post-item">
    <div class="post-header"> 
        {{consoleLog logged_in}}
        {{#if logged_in}}
                <h1><a href="/post/{{id}}">{{post_title}}</a></h1>
            {{else}}
                <p>{{post_title}}</p>
        {{/if}}
        <p>{{user.username}} made this post on {{ format_date post_date }} </p>
    </div>
    <div class="post-body">
        {{ post_content }}
    </div>


</div>