<div class="post-item" data-post-id="{{postId}}">
  <div class="post-header"> 
    <h2 class="post-title">{{post_title}}</h2>
    
  </div>
  <div class="post-body">
    <p>{{ post_content }}</p>
    <p class="post-info">Added on: {{ format_date post_date }}</p>
  </div>
  <div class="comment-to-post-section">
    <div>
      {{#each comments as |comment|}}
        {{> individualComments2 comment=comment user=user }}
      {{/each}}
    </div>
  </div>
  <div class="post-options" data-post-id="{{postId}}">
    {{!-- <button class="edit-post-button btn" data-id="{{postId}}"><a href="/dashboard/edit/{{id}}">Edit me</a></button> --}}
    <button class="delete-something-button btn" data-id="{{id}}">Delete me</button>
  </div>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/addComment.js"></script>