<div class="post-item">
    <div class="post-header"> 
        <h2>{{post_title}}</h2>
        <p>{{user.username}} made this post on {{ format_date post_date }} </p>
    </div>
    <div class="post-body">
        {{ post_content }}
    </div>
    <div class="comment-to-post-section">
        <div class="comment">
            {{#each comments as |comment|}}
                {{> individualComments comment=comment user=user }}
            {{/each}}
        </div>
    </div>
    <button class="edit-post-button" data-id="{{post.id}}"><a href="/dashboard/edit/{{id}}">Edit me</a></button>
    <button class="delete-something-button" data-id="{{post.id}}">Delete me</button>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>