<div class="post-item">
    <h2> {{post.post_title}} </h2>
    <p> {{post.post_content}}</p>
    {{consoleLog comment_content}}
    {{#each post.comments}}
        <div class="comment">
            <p>{{comment_content}}</p>
            <p>Comment by {{user.username}} on {{format_date comment_date}}</p>
        </div>
    {{/each}}
</div>

<form class="comment-form">
    <label> Comment! </label>
    <input type="text" name="comment-body">
    <button type="submit">Add Comment</button>
</form>

<script src="/js/comments.js"></script>
<script src="/js/addComment.js"></script>

