<div class="single-post">
  <div class="post-item" data-post-id="{{post.id}}">
    <div class="post-header"> 
      <h2 class="post-title">{{post.post_title}}</h2>

    </div>
    <div class="post-body">
      <p>{{post.post_content}}</p>
      <p class="post-info">{{post.user.username}} at {{ format_date post.post_date }}</p>
    </div>
    <div class="comment-to-post-section">
        <div>
            {{#each post.comments as |comment|}}
                {{> individualComments comment=comment user=user }}
            {{/each}}
        </div>
    </div>
    <div class="post-options" data-post-id="{{post.id}}">
      <button class="create-comment-button btn" type="button">Add a Comment!</button>
      {{!-- <button class="edit-post-button btn" data-id="{{post.id}}"><a href="/dashboard/edit/{{post.id}}">Edit me</a></button> --}}
      <button class="delete-something-button btn" data-id="{{post.id}}">Delete me</button>
    </div>
  </div>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/addComment.js"></script>